html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-size: 1.8rem;
	font-family: 'Lato', Arial;
	width: 100%;
}

a {
	text-decoration: none;
	color: #fafafa;
	transition: 0.3s;
}

a:hover {
	color: #bbb;	
}

ul {
	list-style: none;
}


/* COMMON ----------------------------------------------------*/
.center-text {
	text-align: center;
}

.lead-title {
	font-size: 3.5rem;
	display: inline-block;
	padding-bottom: 5px;
	border-bottom: 3px solid #000;
}

/* HEADER ----------------------------------------------------*/
.head {
	width: 100%;
	height: 85px;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
}

#inner-info {
	position: relative;
	top: 20px;
}

#name {
	font-size: 1.9rem;
	font-weight: normal;
	color: #fff;
	float: left;
	position: relative;
	top: -5px;
	left: 20px;
}

.menu {
	float: right;
	margin-top: 0.7rem;
	padding: 0 20px;
}

.menu-item {
	display: inline-block;
	margin: 0 20px;
}


/* TOP ----------------------------------------------------*/
#top-img {
	position: relative;
	width: 100%;
	height: 870px;
	background-image: url("../img/top.jpeg");
	background-position: 50% 0;
	background-size: cover;
	z-index: -999;
}

#top-text {
	position: absolute;
	top: 10%;
	left: 14%;
}

.main-text {
	font-size: 5.4rem;
	font-weight: 700;
	color: #000;
}


/* ABOUT ----------------------------------------------------*/
#about {
	width: 100%;
	padding: 40px 0 0;
	height: 730px;
}

.about-box {
	width: 830px;
	height: 340px;
	margin: -20px auto 0;
}

.about-description {
	width: 400px;
	margin-top: 60px;
	margin-right: 30px;
	float: right;
}

.about-description h3 {
	margin-bottom: 15px;
	text-align: center;
	font-size: 3.4rem;
}

.about-description p {
	line-height: 2.3rem;
}

.profile-img {
	float: left;
	width: 220px;
	height: 220px;
	border: 1px solid #b2b2b2;
	border-radius: 110px;
	margin: 60px 0px 0 40px;
}

.head {
	transition: all 0.3s;
}

.head.header-background {
	background-color: #000;
	opacity: 0.7;
	transition: all 0.3s;
}

.skill {
	display: inline-block;
}

.skill img {
	width: 100px;
	height: 100px;
	margin: 20px 30px;
}

.skill.js img {
	width: 97px;
	height: 97px;
}


/* WORK ----------------------------------------------------*/
#work{
	width: 100%;
	padding: 40px 0 0;
	background-color: #E6E6E6;
}

.work-menu {
	width: 930px;
	margin: 0 auto;
	height: 500px;
	padding: 0;
	text-align: center;
}

.work-each {
	width: 230px;
	display: inline-block;
	margin: 40px 30px 0;
}

.work-name {
	font-weight: bold;
	margin: 15px 0 -10px;
}

.work-discription {
	margin: 20px auto;
	width: 200px;
}

.work-img {
	width: 210px;
	height: 210px;
}

.contenthover { 
	padding:80px 20px 20px 20px; 
}

.contenthover a {
	color: #fff;
	font-size: 2.0rem;
	font-weight: bold;
	margin: 10px 0 10px 0;
}

.changami {
	color: red;
}


/* CONTACT ----------------------------------------------------*/
#contact {
	width: 100%;
	padding: 40px 0 0;
	height: 290px;
	background-color: #000;
	color: #fff;
}

#contact .lead-title {
	border-bottom: 3px solid #fff;
}

.mail {
	margin-top: 20px;
	font-weight: bold;
	font-size: 2.5rem;
	display: inline-block;
}

.mail:hover {
	color: #aaa;
}

.sns {
	text-align: center;
	margin-top: 40px;
	padding: 0;
}

.icon {
	display: inline-block;
	margin: 0 20px;
}

i {
	transition: 0.3s;
}

i:hover {
	color: #aaa;
}